:root{
    --celeste: rgb(112, 176, 235);
    --blanco: azure;
    --primary: lightskyblue;
    --accent: lightsalmon;
    --bg: gray;
    --support: lightsteelblue;
    --color-feo-para-ver: green;
    
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body{
    background-color: var(--blanco);
  
}
.header{
flex: 1;
background-color: var(--celeste);
display:flex;
align-items:center;
justify-content: space-around;
height: 75px;
padding-inline: 200px;
.hola{
    display: flex;
    font-size: 2rem;
    color: var(--blanco);
    cursor: pointer;
}
.hola:hover{
    color: var(--primary);
}}
.main{
    display: flex;
    justify-content:space-between;
    align-items: center;
.container{
    background-color: var(--bg);
    height: 300px;
    width: 250px;
    margin-left: 100px;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cuadrado-1{
height: 10%;
width: 100%;
background-color: var(--support);
}
.cuadrado-3{
height: 30px;
width: 150px;
margin-top: 25px;
background-color: var(--color-feo-para-ver);
}
.parrafo{
    margin-top: 15px;
    font-size: 1.5rem;
    color: var(--color-feo-para-ver);
    text-align: center;
    margin-right: 100px;
    

}
.parrafo-2{
    height: 10px;
    width: 400px;
    background-color: var(--color-feo-para-ver);
    margin-top: 10px;
}
}
